name: Build
on: push
jobs:
  build:
    runs-on: windows-latest
    steps:
    - run: echo #include <windows.h> > a.cpp
      shell: cmd
    - run: echo int main() { return 0; } >> a.cpp
      shell: cmd
    - run: "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" && cl a.cpp /Fe:a.exe /EHsc
      shell: cmd
    - uses: actions/upload-artifact@v4
      with:
        name: exe-file
        path: a.exe
